
.homePage {
  overflow-y: hidden;
  background-color: black;
  height: 100vh;
  display: flex;
  color: beige;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.8%;
  
}

.home_intro1 {
  width: 60%;
margin-top: 3% ;
}

.my-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  width: 90%;
}

.my-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.my-links span {
  color: white;
  text-decoration: none;
  font-size: 35px;
  font-weight: 500;
  margin-right: 20px;
}

.my-links li {
    border:  2px solid white;
    padding: 10px;
    border-radius: 10px;
    width: 20em;
    margin: 10px;
    
}

.my-links li:hover {
  background-color: #2915db;
  transition: background-color 0.3s ease-in-out;
}

.summary-profile {
  margin-top: 8rem;
  justify-content: center;
}
.me-intro {
  text-align: center;
  margin: 20px;
  font-size: 1.5em;
}
 .portfolioImageSlide {
    width: 40%;
    height: 90vh;
    overflow: hidden; 
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
 } 